
/Datasets/AmazonDriveDownload.zip
/Datasets/na/
/Datasets/cmu/
/Datasets/world/
/Datasets/snap/
/Datasets/user_info.dev
/Datasets/user_info.dev.gz
/Datasets/text8.zip
/Datasets/GeoText.2010-10-12/
/Datasets/user_states_dev.pickle
/Datasets/eisenstein.data.gz
/Datasets/rt-polaritydata.tar.gz
/Datasets/GeoText.2010-10-12.tgz
/Datasets/user_states_test.pickle
/Datasets/eisenstein.data
/Datasets/eisenstein_locations.csv
/Datasets/user_states_train.pickle
