
/data/AmazonDriveDownload.zip
/data/na/
/data/cmu/
/data/world/
/data/snap/
/data/user_info.dev
/data/user_info.dev.gz
/data/text8.zip
/data/GeoText.2010-10-12/
/data/user_states_dev.pickle
/data/eisenstein.data.gz
/data/rt-polaritydata.tar.gz
/data/GeoText.2010-10-12.tgz
/data/user_states_test.pickle
/data/eisenstein.data
/data/eisenstein_locations.csv
/data/*pickle
/data/first-gop-debate-twitter*
__pycache__



# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/data/pretrained/
/data/.~lock.state_table.csv#
/data/user_vector_means.dev
/data/user_vector_means.train
/lstm.py
/imdb_lstm.py
/generators.py
/data/encodings-train*
/data/encodings-val*
/data/encodings/encodings-train*
/data/encodings/encodings-val*
.idea/TwitterGeolocation.iml
.idea/misc.xml

/tokenizer.pickle
/geomodel.h5
/log_dir/
/geomodel_state.h5
